[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cython = "*"
pycrypto = "*"
urh = {editable = true,git = "https://git@github.com/mtBrieger/urh.git",ref = "parallel-usrp"}

[requires]
python_version = "3.7"
